if SHIELD_COSMOTYL_HIGH_LEFT

config ZMK_KEYBOARD_NAME
    default "cosmotyl-high"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_COSMOTYL_HIGH_LEFT

if SHIELD_COSMOTYL_HIGH_LEFT || SHIELD_COSMOTYL_HIGH_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_COSMOTYL_HIGH_LEFT || SHIELD_COSMOTYL_HIGH_RIGHT
